 nav {
  background-color: #f1f3ff;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  }

nav .nvg a{
color: #000;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
margin-right: 10px ;
}

nav .nvg button{
    color: #fff;
    background: #5CB85F;
    border: none ;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 12px;
    border-radius: 3px;
}

#hero .button{
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 12px;
  background-color: #5cb85f;
}

#hero{
  background-color:#f1f3ff ;
  height: 75vh;
  position: relative;
}

#hero .car{
  position: absolute;
  bottom: 0;
  right: 0;
}

#hero .bg{
  position: absolute;
  bottom: 0;
  right: 0;
}
#service .col {
  display: flex;
  margin-top: 120px;
}

#service .col .content {
  margin-left: 100px;
}

#service .col h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  margin-left: 30px;
}

#service .col p {
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
  margin-left: 30px;
}

#service .col ul {
  list-style-type: none;
}

#service .col ul li {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

#homepage .col h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

#homepage .col p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.row section.card-homepage .card img {
  width: 32px;
  height: 32px;
  margin-left: 12px;
  margin-top: 12px;
}

.row section.card-homepage h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.row section.card-homepage p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.row .card-homepage {
  display: flex;
}

.row section.card-homepage {
  justify-content: space-between;
}

.row section.card-homepage .card {
  box-sizing: border-box;
  padding: 10px;
  margin-top: 30px;
  width: 260px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}
.bg-aliceblue {
  background-color: #f1f3ff;
}
.bg-button {
  background-color: #5cb85f!important;
}
.bg-primary-darkblue {
  background-color: #0d28a6;
}
.testimonial-img {
  width: 80px;
  height: 80px;
}
.testimonial-rating {
  max-height: 16px;
}
.testimonial-name {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: black;
  line-height: 0px;
}
.testimonial-media {
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #f1f1f1;
  color: black;
  border-radius: 50%;
}
.testimonial-media:hover {
background-color: #04AA6D;
color: white;
}
.footer-link {
  text-decoration: none;
  color: black;
  font-weight: normal;
  font-size: 14px;
}
.footer-social {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.alert-red {
  background-color: #fa2c5a;
}
.alert-yellow {
  background-color: #f9cc00;
}
.alert-green {
  background-color: #73ca5c;
}

#starter .card-body h3 {
  font-weight: 700px;
  font-size: 36px;
  line-height: 150%;
  margin-top: 30px;
  margin-bottom: 16px;
}
#starter .card-body p {
  font-weight: 300px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 52px;
}

#starter .card {
  background-color: #0d28a6;
  color: #fff;
  border-radius: 13px;
  margin-top: 120px;
  width: 100%;
}

#starter .card button {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 12px;
  border-radius: 3px;
  background-color: #5cb85f;
  border: none;
  margin-bottom: 30px;
}
#question {
  margin-top: 120px;
}

#question .col h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

#question .col p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
#question .accordion .show .accordion-body p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

#question .row .accordion {
  width: 75%;
  float: right;
  margin-left: -100px;
}


html {
  scroll-behavior: smooth;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

  

* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #ffffff;
}


footer {
  position: fixed;
  bottom: 0;
}

footer .binar{
  margin-top: auto;
  float:right;
}

.footer {
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: 14px;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


.footer .footer-left {
  width: 30%;
}

.footer p {
  margin: 0;
  padding-bottom: 20px;
  color: #000;
}

.footer .footer-left img {
  width: 25%;
  vertical-align: middle;
}

.footer .footer-left .credit-cards {
  width: 100%;
}

.footer .footer-copyright{
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding-top: 10%;
}

.footer .footer-center {
  width: 35%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: black;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: black;
  vertical-align: middle;
  margin: 0px;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: black;
  text-decoration: none;
}

.footer .footer-right {
  width: 30%;
}

.footer .footer-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
}

.footer .footer-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .footer-media {
  margin-top: 25px;
}

.footer .footer-media a {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #ffffff;
  line-height: 50px;
 
}
@media screen and (max-width: 900px) {
  #hero .bg,
  #hero .car {
    width: 80%;
    margin-top: 8px;
  }
}
@media screen and (max-width: 970px) {
  #hero .bg,
  #hero .car {
    width: 80%;
    margin-top: 15px;
  }
  #service .mba{
    width: 70%;
  }
}
@media screen and (max-width: 750px) {
  #hero p {
    margin-bottom: 10px;
  }
  #hero .bg,
  #hero .car {
    width: 80%;
  }
#service .mba{
width: 70%;
}
}

@media screen and (max-width: 620px) {
  #hero .bg,
  #hero .car {
    width: 80%;
  }
  #service .mba{
    width: 70%;
    }
}

@media screen and (max-width: 465px) {
  #hero .bg,
  #hero .car {
    width: 80%;
  }
  #service .mba{
    width: 70%;
    }
}

@media screen and (max-width: 1100px) {
  #hero .bg,
  #hero .car {
    width: 80%;
  }
  #service .mba{
    width: 70%;
    }
}